# Configurações do Servidor
PORT=3000

# Configurações do Banco de Dados PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=gerencia_db
DB_USER=postgres
DB_PASS=postgres

# Configuração de E-mail (Resend)
RESEND_API_KEY=re_sua_chave_aqui
